@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #d6caca;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body .container {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

body .container .header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px; }

body .container .header i {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body .container .header i img {
  border-radius: 5px !important;
  width: 100px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

body .container .header .head-nav a {
  text-decoration: none;
  margin: 2px 5px;
  color: #1f1d20;
  font-family: inherit; }

body .container .header .head-nav a:hover {
  font-size: 1.01rem;
  color: royalblue; }

body .container .bg-main {
  content: '';
  background-image: url(https://images.unsplash.com/photo-1449247666642-264389f5f5b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGRlbGl2ZXJ5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative; }

body .container .bg-main h1 {
  color: #f0ebeb;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 2px #420d0d;
  letter-spacing: 1px; }

body .container .bg-main h3 {
  color: #f0ebeb;
  padding-left: 40px;
  width: 350px;
  text-shadow: 1px 1px 2px #420d0d;
  letter-spacing: .7px;
  line-height: 1.5; }

body .container .bg-main h3 i {
  font-size: 1.7rem; }

body .container .bg-main h3.first-pitch {
  color: #dee9c0;
  padding-left: 40px;
  padding-top: 20px;
  text-transform: uppercase; }

body .container .about {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  color: #1f1d20;
  width: 100%;
  text-align: center; }

body .container .about h2 {
  color: #1f1d20;
  max-width: 700px;
  padding-bottom: 15px;
  line-height: 2rem; }

body .container .about p.free {
  color: #f0560f;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400; }

body .container .about p.content1 {
  max-width: 800px;
  line-height: 1.5rem; }

body .container .services::before {
  content: '-';
  width: 90%;
  border-top: solid 1px #ddd; }

body .container .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 40px auto; }

body .container .services h2 {
  color: #1f1d20;
  width: 100%;
  text-align: center;
  padding: 30px 30px 10px 30px;
  background-color: #fff; }

body .container .services .wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 30px; }

body .container .services .wrapper .service {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23%;
  height: 200px;
  color: #f0ebeb;
  margin: 12px;
  border: outset 5px #b1b1fa;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }

body .container .services .wrapper .service h3 {
  padding: 10px 0 0 10px;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #420d0d; }

body .container .services .wrapper .service:hover {
  scale: 1.015; }

body .container .services .wrapper .services1 {
  background-image: url(/Novice2.jpeg); }

body .container .services .wrapper .services2 {
  background-image: url(NoviceAvatar.jpeg); }

body .container .services .wrapper .services3 {
  background-image: url(Novice3.jpeg); }

body .container .services .wrapper .services4 {
  background-image: url(Novice6.jpeg); }

body .container .services .wrapper .services5 {
  background-image: url(https://images.unsplash.com/photo-1568209865332-a15790aed756?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM0fHxlbGVjdHJvbmljfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }

body .container .services .wrapper .services6 {
  background-image: url(https://images.unsplash.com/photo-1581092918056-0c4c3acd3789?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGVsZWN0cm9uaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }

body .container .services .wrapper .services7 {
  background-image: url(https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }

body .container .services .wrapper .services8 {
  background-image: url(https://images.unsplash.com/photo-1604754742629-3e5728249d73?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGVsZWN0cm9uaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }

body .container .easy-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding: 30px; }

body .container .easy-steps .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 30px; }

body .container .easy-steps .steps .step {
  width: 30%;
  min-height: 220px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #1f1d20;
  -webkit-box-shadow: 0px 2px 2px #eee, 0px -2px 10px #eee;
  box-shadow: 0px 2px 2px #eee, 0px -2px 10px #eee; }

body .container .easy-steps .steps .step i {
  font-size: 35px;
  padding-bottom: 15px; }

body .container .easy-steps .steps .step h3 {
  padding-bottom: 10px; }

body .container .easy-steps .steps .step p {
  line-height: 1.5rem; }

body .container .easy-steps .step-note {
  text-align: center;
  line-height: 1.5rem; }

body .container .brands::before {
  content: '-';
  width: 90%;
  border-top: solid 1px #ddd; }

body .container .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 40px 30px; }

body .container .brands h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #1f1d20;
  text-align: center; }

body .container .brands .brands-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

body .container .brands .brands-wrapper img {
  max-width: 100px;
  margin: 10px; }

body .container .brands .brands-wrapper img.dell {
  padding-left: 10px;
  max-width: 60px; }

body .container .brands .brands-wrapper img.fuji {
  padding-left: 10px;
  max-width: 90px; }

body .container .choose-us {
  background-color: #fcf6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 40px 30px;
  color: #1f1d20; }

body .container .choose-us h2 {
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #b1b1fa; }

body .container .choose-us .choice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

body .container .choose-us .choice-wrapper .choices {
  background-color: #b1b1fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 30%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  min-height: 220px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); }

body .container .choose-us .choice-wrapper .choices h3 {
  padding: 15px 0;
  text-transform: uppercase; }

body .container .choose-us .choice-wrapper .choices p {
  text-align: center;
  line-height: 1.5rem; }

body .container .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 350px; }

body .container .contact-us .left-bg {
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://images.unsplash.com/photo-1620116377917-3998e4937a3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fGNvbXB1dGVyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  -webkit-box-shadow: inset 2px 10px 60px #fff;
  box-shadow: inset 2px 10px 60px #fff; }

body .container .contact-us .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 30%;
  padding: 15px 0 5px 0;
  background-color: #ffff;
  padding: 25px; }

body .container .contact-us .contact-info h1, body .container .contact-us .contact-info p {
  text-align: center; }

body .container .contact-us .contact-info label {
  color: #837575; }

body .container .contact-us .contact-info input {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: solid .3px #ddd; }

body .container .contact-us .contact-info button.btn-form {
  width: 100%;
  display: block;
  height: 30px;
  border-radius: 5px;
  background-color: #28a75d;
  color: white;
  margin-top: 10px;
  border: none;
  outline: none;
  font-weight: 600; }

body .container .contact-us .contact-info button.btn-form:hover {
  color: #d9eeeb;
  font-size: 12px;
  cursor: pointer;
  background-color: #2eb161; }

body .container .contact-us .contact-info .bottom-text {
  font-size: .9em;
  padding-top: 20px;
  line-height: 25px; }

body .container .contact-us .contact-info .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 0 5px 0; }

body .container .contact-us .contact-info .form-group label {
  color: #837575; }

body .container .contact-us .contact-info .form-group input {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: solid .3px #ddd; }

body .container .contact-us .contact-info .form-group input .text-area {
  height: 200px;
  background-color: yellowgreen; }

body .container .contact-us .address {
  width: 30%;
  padding: 30px; }

body .container .contact-us .address .map {
  width: 100%;
  height: 150px;
  background-image: url(https://www.google.com/maps/vt/data=zE8w0cBkC6JNpi5gO73MpVLWsYpZRqP58yZM3uULWhc7XqZVa1iD-pOoBpJ908zXiiteeDpSPs3o9_do3wFuxA8x5EZyj1wQ5xVOaALTtW2kRyyYWruXc0CpiWWmmmrZ_DKrIQ9mSutAPTSpklZPLhnVQM8lG0fFyhBkbYTs5BR2X9MVu685&w=301&h=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px; }

body .container .contact-us .address .address2 {
  padding: 10px 0; }

body .container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 220px;
  color: #e9dada;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 50px 30px 50px;
  background-color: #0b1523; }

body .container .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body .container .footer .social-media h4 {
  padding-right: 20px;
  padding-bottom: 15px; }

body .container .footer .social-media i {
  font-size: 25px; }

body .container .footer .social-media .fab {
  margin: 5px;
  padding: 2px; }

body .container .footer .social-media .fa-facebook {
  color: #4545f5; }

body .container .footer .social-media .fa-twitter {
  color: #6363e9; }

body .container .footer .social-media .fa-instagram {
  color: #ff00bf; }

body .container .footer .social-media .fa-youtube-square {
  color: #fc440d; }

body .container .footer p {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 30px 50px 30px 10px;
  font-size: .55rem; }

body .container button.btn-home {
  width: 90px;
  height: 35px;
  border-radius: 30px;
  border: none;
  background-color: #32ad32;
  opacity: .8;
  position: fixed;
  bottom: 50%;
  right: 5%;
  z-index: 10;
  cursor: pointer; }

body .container button.btn-home i {
  font-size: 30px;
  cursor: pointer;
  color: greenyellow; }

body .container button:hover {
  background-color: #3a8f3a;
  scale: 1.01; }

@media (max-width: 768px) {
  body .container .header i {
    width: 30%; }
  body .container .header i img {
    width: 80px; }
  body .container .header .head-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%; }
  body .container .header .head-nav a {
    font-size: 1rem; }
  body .container .bg-main {
    height: 60vh; }
  body .container .services .wrapper .service {
    width: 40%; }
  body .container .easy-steps .steps .step {
    width: 50%; }
  body .container .choose-us .choice-wrapper .choices {
    width: 50%;
    min-height: 180px; }
  body .container .contact-us {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: auto; }
  body .container .contact-us .left-bg {
    width: 100%;
    height: 500px; }
  body .container .contact-us .contact-info {
    width: 50%; }
  body .container .contact-us .address {
    width: 50%; }
  body .container button.btn-home {
    bottom: 64%; } }

@media (max-width: 375px) {
  body .container .header i img {
    width: 75px; }
  body .container .header .head-nav a {
    font-size: .85rem; }
  body .container .bg-main {
    height: 80vh; }
  body .container .bg-main h1 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 400; }
  body .container .bg-main h3 {
    padding-left: 10px;
    font-size: 1.1rem;
    width: 250px;
    letter-spacing: .5px;
    line-height: 1.3;
    font-weight: 400; }
  body .container .bg-main h3.first-pitch {
    padding-left: 10px;
    font-size: 1rem; }
  body .container .about h2 {
    font-weight: 400; }
  body .container .services h2 {
    font-weight: 400; }
  body .container .services .wrapper .service {
    width: 90%; }
  body .container .easy-steps .steps .step {
    width: 90%; }
  body .container .brands h2 {
    font-weight: 400; }
  body .container .choose-us h2 {
    font-weight: 400; }
  body .container .choose-us .choice-wrapper .choices {
    width: 90%;
    min-height: 180px; }
  body .container .choose-us .choice-wrapper .choices h3 {
    font-weight: 400; }
  body .container .contact-us {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: auto; }
  body .container .contact-us .left-bg {
    width: 100%;
    height: 400px; }
  body .container .contact-us .contact-info {
    width: 100%; }
  body .container .contact-us .address {
    width: 100%; }
  body .container .footer h4 {
    font-weight: 400; }
  body .container button.btn-home {
    bottom: 48%; } }

/*# sourceMappingURL=main.css.map */
